@tailwind base;
@tailwind components;
@tailwind utilities;

/* wp-generator */
/* write or paste your code here */
html.wp-toolbar {
    background-color: #f0f0f1;
}

#wpcontent {
    padding: 0 25px;
}

.wrap {
    margin-right: 0;
}

#adminmenu .wp-menu-image img {
    margin: 0 auto;
}

.docs-section-listing.wrap {
    margin: 0;
}

.modal-body .diamond-img {
    background: linear-gradient(220.03deg, #fff3dd 39.57%, #ffe3ad 97.5%);
}

.modal-body .carousel.carousel-slider {
    padding-bottom: 40px;
}

@media screen and (max-width: 782px) {
    #wpcontent {
        padding: 0 25px !important;
    }
}

@media screen and (max-width: 768px) {
    .settings-description {
        max-width: 305px;
    }

    .palette-options-container {
        gap: 32px;
    }

    .settings-palette-options {
        width: 272px;
    }
}

@media screen and (max-width: 1024px) {
    .palette-preview-container {
        width: 320px;
    }

    .preview-header .tabs .tab {
        padding: 8px;
    }

    .preview-header .tabs {
        margin-bottom: 12px;
    }

    .preview-header {
        height: 160px;
    }

    .listing-docs .doc-search {
        min-height: 28px;
    }

    .listing-docs .search-panel {
        width: 256px;
        margin-bottom: 16px;
    }

    .explore-docs .doc-section {
        width: 290px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
    .pro-sub-settings {
        margin-left: 1.5rem;
    }

    .settings-description {
        max-width: 240px;
    }

    .palette-options-container {
        gap: 16px;
    }

    .settings-palette-options {
        width: 232px;
    }

    .palette-first-color {
        width: 16px;
    }

    .settings-tab .pro-settings {
        width: 54px;
    }

    .settings-sub-tab svg {
        width: 24px;
    }
}
