.wedocs-search-input,
.wedocs-editor-search-input {
    width: 50%;
    display: flex;
    overflow: hidden;
    position: relative;

    .search-field {
        margin: 0;
        width: 100%;
        height: 48px;
        font-size: 14px;
        background: white;
        padding: 14px 22px;
        border-radius: 100px;
        border: 1px solid #dbdbdb;

        &::placeholder {
            color: #C5C5C5;
        }

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #dbdbdb;
        }
    }

    .search-submit {
        top: 0;
        right: 0;
        border: 0;
        margin: 0;
        height: 100%;
        display: flex;
        cursor: pointer;
        width: fit-content;
        padding: 14px 26px;
        position: absolute;
        align-items: center;
        border-radius: 100px;
    }
}

.wedocs-search-input {
    margin-left: auto;
    margin-bottom: 4%;
}

.wedocs-search-toggle {
    margin-bottom: 0 !important;

    .components-h-stack {
        flex-direction: row-reverse;
    }
}

.wedocs-search-color-settings {
    .block-editor-panel-color-gradient-settings {
        border-top: 0;
        padding-left: 0;
        padding-right: 0;

        .block-editor-tools-panel-color-gradient-settings__item.first {
            margin-top: 0;
        }
    }
}

.radio-image-control-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .radio-image-option {
        margin-right: 10px;
    }

    .radio-image-option label {
        cursor: pointer;
        display: block;
    }

    .radio-image-option input[type="radio"] {
        display: none;
    }

    .radio-image-option label i,
    .radio-image-option label img {
        width: 30px;
        height: 30px;
        display: block;
        background-size: cover;
        background-position: center;
    }
}

.backdrop {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    opacity: 0.5;
    height: 100%;
    background: #FFF;
    position: absolute;
}
