.wedocs-breadcrumb{color:#bbb;margin:0 0 10px 0}.wedocs-breadcrumb span.sep{color:#d5d5d5}
.wedocs-success,.wedocs-error{padding:10px 15px;margin:5px 0 15px 0;position:relative;background:#fff;border-bottom:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #eee;border-radius:4px}
.wedocs-success{border-top:3px solid #8fae1b}
.wedocs-error{border-top:3px solid #b81c23}
ul.doc-category{margin-bottom:4em;border:1px solid #eee;border-left:0;border-right:0;list-style:none;margin:0 0 50px 0;padding:0}ul.doc-category:before,ul.doc-category:after{content:" ";display:table}
ul.doc-category:after{clear:both}
ul.doc-category li.doc,ul.doc-category li.category{list-style:none;width:50%;margin:0;float:left;padding:2em 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:1px dotted #eee;min-height:110px}ul.doc-category li.doc:nth-child(odd),ul.doc-category li.category:nth-child(odd){padding-right:2em;border-right:1px dotted #eee;clear:both}
ul.doc-category li.doc:nth-child(even),ul.doc-category li.category:nth-child(even){padding-left:2em}
ul.doc-category li.doc h3,ul.doc-category li.category h3{margin:0;position:relative}ul.doc-category li.doc h3 a,ul.doc-category li.category h3 a{font-size:16px;display:block;padding-left:30px}
ul.doc-category li.doc h3:before,ul.doc-category li.category h3:before{color:rgba(37,90,140,0.2);font-family:'FontAwesome';display:inline-block;font-size:20px;font-weight:normal;line-height:100%;width:1.758em;position:absolute;top:0;left:0;content:"\f0b1"}
ul.doc-category li.doc .inside,ul.doc-category li.category .inside{padding-left:30px;padding-top:10px}
ul.doc-category li.doc h3:before{content:"\f02d"}
.wedocs-single-doc{position:relative;width:100%}.wedocs-single-doc:before,.wedocs-single-doc:after{content:" ";display:table}
.wedocs-single-doc:after{clear:both}
.wedocs-single-doc .bs-sidebar{width:20%;float:left}.wedocs-single-doc .bs-sidebar:before,.wedocs-single-doc .bs-sidebar:after{content:" ";display:table}
.wedocs-single-doc .bs-sidebar:after{clear:both}
.wedocs-single-doc .bs-sidebar ul{list-style:none;padding:0;margin:0}
.wedocs-single-doc .wedocs-single-content.has-nav{float:left;width:75%}
.wedoc-feedback-wrap{padding-top:15px}.wedoc-feedback-wrap a{font-weight:bold;padding:0 5px;border-radius:3px}
.wedoc-feedback-wrap a.positive{color:#6a9c1f;border:1px solid #6a9c1f}
.wedoc-feedback-wrap a.negative{color:#ac2d22;border:1px solid #ac2d22}
